body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #111;
}

/* HEADER SAME AS HOME */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 60px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      position: sticky;
      top: 0;
      z-index: 10;
    }

    header h1 { 
      font-size: 20px;
      font-weight: 600;
    }
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #111;
      font-weight: 500;
    }
    nav a.active { 
      text-decoration: underline;
      font-weight: bold; 
    }

    nav a:hover {
      text-decoration: underline;  
    }

.header-right {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .search-container {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 4px 10px;
      background-color: #fff;
    }
    .search-container input {
      border: none;
      outline: none;
      padding: 5px;
      font-size: 14px;
      width: 160px;
    }

    .search-container span {
      font-size: 16px;
      color: #333;
    }
    .icon-button {
      font-size: 25px;
      cursor: pointer;
      user-select: none;
      color: #000;
      transition: 0.3s;
    }
    .icon-button:hover {
      color: #007bff;
    }

/* HERO */
.hero {
  background: #ddd;
  text-align: left;
  padding: 80px 20px;
}
.hero-content h2 { 
  font-size: 34px; margin: 0 50px 10px; 
}

.hero-content p { 
  font-size: 19px; margin: 0 50px 10px; 
}

.btn {
  display: inline-block; 
  padding: 10px 20px;
  background: white; 
  color: black; 
  text-decoration: none;
  border-radius: 5px; 
  margin: 15px 50px 15px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e3e3e3;
}

/* STORY */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 40px;
}

.about-text {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.6;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-image img {
  width: 350px;
  max-width: 100%;
  height: auto;
}
/* NILAI KAMI */
.values { 
  text-align: center; 
  padding: 20px 20px; 
}

.value-box { 
  display: flex; 
  justify-content: center; 
  gap: 60px; 
}

.value-box div { 
  text-align: 
  center; 
}

.icon { 
  font-size: 38px; 
}

/* TEAM */
.team {
  text-align: center;
  padding: 60px 30px;
}

.team h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px; 
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center; 
}

.member {
  flex: 0 0 calc(20% - 24px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100px; 
}

.pfp {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 0 10px 0;
  overflow: hidden; 
  position: relative; 
  transform-style: preserve-3d;
  transition: transform 0.6s;
  perspective: 800px
}

.pfp:hover{
  transform: rotateY(180deg);
}

.pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.member p {
  margin: 0;
  font-size: 16px;
}

.gap-spacer {
    flex: 0 0 calc( (20% - 24px) / 2 );
    visibility: hidden;
    height: 0;
}

/* METRICS */
.metrics { 
  text-align: center; 
  padding: 50px 20px; 
}

.metrics h2{ 
  font-size: 25px;
}

.metrics-grid { 
  display: flex; 
  justify-content: center; 
  gap: 70px 120px; 
}
.metrics-grid h3 {
  font-size: 25px;
} 

.metrics-grid p {
  font-size: 20px;
} 

/* CTA */
.cta { 
  text-align: center; 
  padding: 70px 20px; 
}

.cta a { 
  display: inline-block; 
  padding: 10px 20px;
  background: black; 
  color: white; 
  text-decoration: none;
  border-radius: 5px; 
  margin: 15px 50px 15px;
  transition: 0.3s;
}

.cta a:hover {
  background-color: #353535;
}

/* FOOTER */
    footer {
      background-color: #ececec;
      padding: 40px 60px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: #333;
      font-size: 14px;
    }
    footer h4 {
      margin-bottom: 10px;
    }
    footer p {
      margin: 5px 0;
    }
    footer a {
      color: #333;
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }
    .copyright {
      text-align: center;
      padding: 15px;
      font-size: 13px;
      color: #666;
      border-top: 1px solid #ddd;
    }